@using System.Security.Claims
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h2>Azure Hands-On Lab: Web App Authentication and Authorization</h2>
        <p>This lab demonstrates using a Facebook app to allow users to log in to your Web App.</p>
        @if (ClaimsPrincipal.Current.Identity != null)
        {
            <p class="btn btn-success">Well hello there, @ClaimsPrincipal.Current.FindFirst(ClaimTypes.Name).Value!</p>
            <p>Here's the information I've been able to get about you from your social media provider:</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Claim name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                
                @foreach (var claim in ClaimsPrincipal.Current.Claims)
                {
                    <tr>
                        <td>@claim.Type</td>
                        <td>@claim.Value</td>
                    </tr>
                }
            </table>
            <p>This information is presented as an <a href="https://developers.facebook.com/" target="_blank">OpenID Connect claim</a> from the social media provider, and is fed to this ASP.NET Web App as a <a href="https://msdn.microsoft.com/en-us/library/system.security.claims.claimsprincipal(v=vs.110).aspx" target="_blank">ClaimsPrincipal</a> object.</p>
        }
        else
        {
            <p class="btn btn-danger">You haven't logged in to this Web App via authorization, so I'm not sure who you are.</p>
        }
    </div>
</div>